@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
    background-color: #fff0c1;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
    text-shadow: 1.5px 1px 4px darkblue;
}

img {
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    transition: transform 300ms ease-in-out, box-shadow 300ms ease-in-out;
}

img:hover {
    box-shadow: -12px 12px 20px 7px rgb(10 186 234);
    transform: translate(10px, -10px);
}

table {
    border: 5px solid #161a42;
    width: 100%;
    max-width: 1024px;
    height: 100px;
    border-collapse: collapse;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    display: table;
    margin: auto;
}

thead {
    text-align: center;
    font-weight: 700;
    color: chartreuse;
}

td {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}

.row_green {
    background-color: green;
}

.row_black {
    background-color: #000000;
}

.row_blue {
    background-color: blue;
}

.row_pink {
    background-color: pink;
}

.row_purple {
    background-color: purple;
}

.row_red {
    background-color: red;
}

.row_yellow {
    background-color: yellow;
}